<header class="header">   
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <div class="navbar-header"><a routerLink="/profile" class="navbar-brand">
          <div class="brand-text brand-big text-uppercase {{ (shrinked) ? '' : 'visible' }}"><strong class="text-primary">Strava</strong><strong>Leaderboard</strong></div>
          <div class="brand-text brand-sm {{ (shrinked) ? 'visible' : '' }}"><strong class="text-primary">S</strong><strong>L</strong></div></a>
        <button class="sidebar-toggle" (click)="shrinker()"><fa name="{{ (shrinked) ? 'long-arrow-right' : 'long-arrow-left' }}"></fa></button>
      </div>
      <ul class="right-menu list-inline no-margin-bottom">    
        <li class="list-inline-item logout">
          <a class="nav-link gen-link" (click)="logout()">Logout <fa name="sign-out"></fa></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="d-flex align-items-stretch">
  <nav id="sidebar" [class]="(shrinked) ? 'shrinked' : ''">
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img [src]="user.image.large" alt="..." class="img-fluid rounded-circle"></div>
      <div class="title">
        <h1 class="h5">{{ user.firstname }} {{ user.lastname }}</h1>
        <p>Active Athlete</p>
      </div>
    </div>
    <ul class="list-unstyled">
      <li [class]="(activeLink === 'profile') ? 'active' : ''"><a routerLink="/profile"> <fa name="user"></fa>Profile </a></li>
      <li [class]="(activeLink === 'boards') ? 'active' : ''">
        <a class="gen-link collapsed" (click)="expandBoards()" [attr.aria-expanded]="boardsExpanded" data-toggle="collapse"> <fa name="list-ul"></fa>Boards </a>
        <ul class="collapse list-unstyled {{ (boardsExpanded) ? 'show' : ''}}">
          <li [class]="(activeSubLink === 'join') ? 'active' : ''"><a routerLink="/boards/join">Join</a></li>
          <li [class]="(activeSubLink === 'my') ? 'active' : ''"><a routerLink="/boards/my">My Boards</a></li>
        </ul>
      </li>
      <li [class]="(activeLink === 'pr') ? 'active' : ''"><a routerLink="/pr"> <fa name="trophy"></fa>Best Efforts </a></li>
      <li [class]="(activeLink === 'activities') ? 'active' : ''"><a routerLink="/activities/recent"> <fa name="clock-o"></fa>Recent Activities </a></li>
      <li><a href="#"> <i class="fa fa-bar-chart"></i>Annual Stats </a></li>
    </ul>
  </nav>
  <div class="page-content {{ (shrinked) ? 'active' : '' }}">
    <div class="page-header">
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">{{ title }}</h2>
      </div>
    </div>
    <router-outlet></router-outlet>
    <footer class="footer">
      <div class="footer__block block no-margin-bottom">
        <div class="container-fluid text-center">
          <p class="no-margin-bottom">{{ now | date: "y" }} &copy; <a href="http://clayapps.com">Clay Apps</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</div>