<div class="container">
  <div class="row pt-4">
    <div class="col-sm-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="goToProfile()" class="" [ngClass]="(profileActive) ? 'btn btn-success active' : 'btn btn-success'">Profile</button>
        <button (click)="goToBoards()" class="" [ngClass]="(profileActive) ? 'btn btn-warning' : 'btn btn-warning active'">Boards</button>
      </div>
    </div>
  </div>
</div>
<hr>
<router-outlet></router-outlet>