<section class="no-padding-top">
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-sm-12">
        <app-alert></app-alert>
      </div>
    </div>
  </div>
</section>
<section class="no-padding-top" *ngIf="!isActiveUser">
  <div class="container-fluid">
    <div class="row pb-2"  *ngIf="user && !isActiveUser">
      <div class="col-lg-12 pb-2 text-center">
        <img [src]="user.image.large" class="profile-img">
      </div>
    </div>
  </div>
</section>
<section class="no-padding-top" *ngIf="topData">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
          <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
              <div class="icon"><fa name="calendar"></fa></div><strong>Runs</strong>
            </div>
            <div class="number dashtext-1">{{ topData.count }}</div>
          </div>
          <div class="progress progress-template">
            <div role="progressbar" [style.width.%]="(topData.count * 100) / topData.countPrev" [attr.aria-valuenow]="(topData.count * 100) / topData.countPrev" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
          <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
              <div class="icon"><fa name="hourglass"></fa></div><strong>Time</strong>
            </div>
            <div class="number dashtext-1">{{ topData.time | time }}</div>
          </div>
          <div class="progress progress-template">
            <div role="progressbar" [style.width.%]="(topData.time * 100) / topData.timePrev" [attr.aria-valuenow]="(topData.time * 100) / topData.timePrev" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
          <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
              <div class="icon"><fa name="road"></fa></div><strong>Distance</strong>
            </div>
            <div class="number dashtext-1">{{ topData.distance | distance }}</div>
          </div>
          <div class="progress progress-template">
            <div role="progressbar" [style.width.%]="(topData.distance * 100) / topData.distancePrev" [attr.aria-valuenow]="(topData.distance * 100) / topData.distancePrev" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
          <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
              <div class="icon"><fa name="fire"></fa></div><strong>Calories</strong>
            </div>
            <div class="number dashtext-1">{{ topData.calories | calorie }}</div>
          </div>
          <div class="progress progress-template">
            <div role="progressbar" [style.width.%]="(topData.calories * 100) / topData.caloriesPrev" [attr.aria-valuenow]="(topData.calories * 100) / topData.caloriesPrev" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-padding-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-6 pl-0 pr-0">
        <div class="col-sm-12 pb-1">
          <h5>Time Comparison</h5>
        </div>
        <div class="col-sm-12" *ngIf="monthTimeChartData">
          <div style="display: block;">
            <canvas baseChart width="400" height="400"
                    [datasets]="monthTimeChartData"
                    [labels]="monthTimeChartLabels"
                    [options]="monthTimeChartOptions"
                    [colors]="monthTimeChartColors"
                    [legend]="monthTimeChartLegend"
                    [chartType]="monthTimeChartType"
                    ></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 pl-0 pr-0">
        <div class="col-sm-12 pb-1">
          <h5>Time Comparison</h5>
        </div>
        <div class="col-sm-12" *ngIf="monthDistanceChartData">
          <div style="display: block;">
            <canvas baseChart width="400" height="400"
                    [datasets]="monthDistanceChartData"
                    [labels]="monthDistanceChartLabels"
                    [options]="monthDistanceChartOptions"
                    [colors]="monthDistanceChartColors"
                    [legend]="monthDistanceChartLegend"
                    [chartType]="monthDistanceChartType"
                    ></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 pt-4 pb-0">
        <h5>Best Effort Comparison</h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-inline">
            <div class="form-group mb-2">
              <label class="mb-2 mr-sm-2" for="type"><h5>Efforts</h5></label>
              <select class="form-control mb-2" id="type" #et (change)="effortChanged(et.value)">
                <option *ngFor="let t of effortTypes; let i = index" [value]="i">{{t.name}}</option>
              </select>
            </div>
          </div>
      </div>
    </div>
    <div class="row" *ngIf="effortChartData">
      <div class="col-sm-12">
        <div style="display: block;">
          <canvas baseChart width="400" height="400"
                  [datasets]="effortChartData"
                  [labels]="effortChartLabels"
                  [options]="effortChartOptions"
                  [colors]="effortChartColors"
                  [legend]="effortChartLegend"
                  [chartType]="effortChartType"
                  ></canvas>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-padding-top" *ngIf="!isActiveUser">
  <div class="container-fluid">
    <div class="row pb-2"  *ngIf="user && !isActiveUser">
      <div class="col-lg-12 pb-2 text-center">
        <a [routerLink]="['/prs', user.id]" class="btn btn-primary">View Best Efforts</a>
      </div>
    </div>
  </div>
</section>