<section class="no-padding-top">
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-sm-12">
        <app-alert></app-alert>
      </div>
    </div>
  </div>
</section>
<section class="no-padding-top" *ngIf="!isActiveUser">
  <div class="container-fluid">
    <div class="row pb-2"  *ngIf="user && !isActiveUser">
      <div class="col-lg-12 pb-2 text-center">
        <img [src]="user.image.large" class="profile-img">
      </div>
    </div>
  </div>
</section>
<section class="no-padding-top" *ngIf="prs">
  <div class="container-fluid">
    <div class="row">
      <a href="{{ stravaActivityUrl }}{{pr.strava_id}}" target="_blank" class="col-md-3 col-sm-6 linked-cont" *ngFor="let pr of prs">
        <div class="statistic-block block">
          <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
              <div class="icon gold"><fa name="trophy"></fa></div><strong>{{ pr.name }}</strong>
            </div>
            <div class="number dashtext-1">{{ pr.e_time | time }}</div>
          </div>
          <div class="pr-date">
            <small>{{ pr.start_date_local }}</small>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
