<section class="no-padding-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="block">
          <div class="title">
            Create a new leaderboard
          </div>
          <div class="block-body">
            <form (ngSubmit)="add()" #addForm="ngForm">
              <div class="form-group">
                <input class="form-control mb-2 mr-sm-2 add-input" name="bn" type="text" placeholder="Board Name" required [(ngModel)]="boardName" #bn="ngModel">
              </div>
              <div class="form-group">
                <button class="btn btn-success mb-2" [disabled]="!addForm.form.valid">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <app-alert></app-alert>
    <div class="row">
      <div class="col-sm-12 col-12 grid-item" *ngFor="let board of boards">
        <div class="card">
          <div class="card-header">
            {{ board.name }}
            <span class="pull-right del" *ngIf="board.admin" (click)="boardDelete(board)"><fa name="times"></fa></span>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let athlete of board.athletes">
                <span>
                  <a [routerLink]="['/profiles/', athlete.id]"><img src="{{ athlete.image.medium }}" class="listing-img"></a>
                </span>
                <span class="pl-3">{{ athlete.firstname }} {{ athlete.lastname }} &nbsp;&nbsp; <span *ngIf="athlete.admin && athlete.active"><fa name="asterisk"></fa></span></span>
                <span class="float-right btn btn-success" *ngIf="board.admin && !athlete.active" (click)="approve(board.id, athlete.id)">
                  <fa name="check-circle"></fa>
                </span>
              </li>
            </ul>
            <div class="col-sm-12 text-center" *ngIf="board.active;else awaitingApproval">
              <a [routerLink]="['/boards', board.id, 'cards']" class="btn btn-primary mt-4">View</a>
            </div>
            <ng-template #awaitingApproval>
              <div class="col-sm-12 text-center">
                Awaiting Approval
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
